<div class="row py-3">
	<div class="col">
		<ul class="breadcrumb d-block">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li class="active">@ViewData["Title"]</li>
		</ul>
	</div>
</div>