@{
    ViewData["Title"] = "Home";
}

<partial name="~/Views/Home/Slider.cshtml" />

<div class="bg-light">
    <div class="container py-4">
        <div class="row pb-2 mb-1">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="feature-box feature-box-steps">
                    <div class="feature-box-step-number appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
                        <em>1.</em>
                    </div>
                    <div class="feature-box-icon bg-color-quaternary feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
                        <img class="icon-animated" width="100" height="46" src="img/demos/education/icons/icon-web-search-engine.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                    </div>
                    <div class="feature-box-info appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="150">
                        <p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Step 1</p>
                        <h4 class="mb-0 text-color-secondary">Find Your Course</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="feature-box feature-box-steps">
                    <div class="feature-box-step-number appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="500">
                        <em>2.</em>
                    </div>
                    <div class="feature-box-icon bg-color-quaternary feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="500">
                        <img class="icon-animated" width="42" height="42" src="img/demos/education/icons/icon-list.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" />
                    </div>
                    <div class="feature-box-info appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="300">
                        <p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Step 2</p>
                        <h4 class="mb-0 text-color-secondary">Make a Register</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box feature-box-steps">
                    <div class="feature-box-step-number appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="750">
                        <em>3.</em>
                    </div>
                    <div class="feature-box-icon bg-color-quaternary feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="750">
                        <img class="icon-animated" width="45" height="45" src="img/demos/education/icons/icon-laptop.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                    </div>
                    <div class="feature-box-info appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="450">
                        <p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Step 3</p>
                        <h4 class="mb-0 text-color-secondary">Enjoy and Learn</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Home/Popular.cshtml" />

<section class="section section-background custom-section-background-1 bg-color-tertiary border-0 m-0" style="background-image: url(img/demos/education/backgrounds/background-1.jpg); background-position: 100% 100%; background-repeat: no-repeat; background-size: contain;">
    <div class="container my-4">
        <div class="row mb-4">
            <div class="col-lg-6">
                <div class="card border-radius-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="350">
                    <div class="card-body py-5 my-2">

                        <div class="row">
                            <div class="col px-4">
                                <div class="text-center">
                                    <h2 class="text-color-secondary font-weight-semi-bold text-8 line-height-1 mb-2">Register Now</h2>
                                    <p class="text-4">Get <strong>50% OFF</strong> For All Courses</p>
                                </div>
                                <div class="countdown text-color-primary font-weight-semibold custom-countdown-style-1 justify-content-center mb-4 py-2 px-2" data-plugin-countdown data-plugin-options="{'textDay': 'DAYS', 'textHour': 'HRS', 'textMin': 'MIN', 'textSec': 'SEC', 'date': '2024/01/01 12:00:00', 'wrapperClass': 'text-color-primary', 'numberClass': 'font-weight-semibold text-color-primary'}"></div>

                                <form class="custom-form-style-1 contact-form" action="php/contact-form.php" method="POST">

                                    <div class="contact-form-success alert alert-success d-none mt-4">
                                        <strong>Success!</strong> Your register has been sent to us.
                                    </div>

                                    <div class="contact-form-error alert alert-danger d-none mt-4">
                                        <strong>Error!</strong> There was an error sending your register.
                                        <span class="mail-error-message text-1 d-block"></span>
                                    </div>

                                    <div class="row g-2">
                                        <div class="form-group col-md-6 mb-2">
                                            <input type="text" value="" data-msg-required="Please enter your first name." maxlength="100" class="form-control p-3 bg-color-tertiary" name="firstName" id="firstName" placeholder="FIRST NAME*" required>
                                        </div>
                                        <div class="form-group col-md-6 mb-2">
                                            <input type="text" value="" data-msg-required="Please enter your last name." maxlength="100" class="form-control p-3 bg-color-tertiary custom-border-start-1" name="lastName" id="lastName" placeholder="LAST NAME*" required>
                                        </div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="form-group col-md-6 mb-2">
                                            <input type="text" value="" data-msg-required="Please enter your phone number." maxlength="100" class="form-control p-3 bg-color-tertiary" name="phone" id="phone" placeholder="PHONE*" required>
                                        </div>
                                        <div class="form-group col-md-6 mb-2">
                                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control p-3 bg-color-tertiary custom-border-start-1" name="email" id="email" placeholder="EMAIL*" required>
                                        </div>
                                    </div>
                                    <div class="row g-2">
                                        <div class="form-group col mb-0">
                                            <input type="submit" value="GET IT NOW" class="btn btn-secondary font-weight-bold d-block btn-px-5 btn-py-3 w-100" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="~/Views/Home/Testimonial.cshtml" />

<partial name="~/Views/Blog/News.cshtml" />

<partial name="~/Views/Home/Footer.cshtml" />